@import "tailwindcss";

@theme {
  --color-academy: #559eac;
  --spacing-sidebar-collapsed: 4rem;
  --spacing-sidebar-expanded: 16rem;
  --breakpoint-md: 48rem;
}

@layer base {
  html {
    min-height: 100%;
  }

  body {
    min-height: 100vh;
    margin: 0;
  }

  #root {
    min-height: 100vh;
  }
}
